* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.playerMedia {
    margin: auto;
    width: 500px;
    max-width: 500px;
    overflow-x: hidden;
    box-shadow: 0 0 5px 5px rgb(243, 239, 239);
    background-color: rgb(140, 209, 255);
    position: relative;
    padding: 10px 10px;
}
.heading {
    position: fixed;
    top: 0;
    width: 500px;
    max-width: 500px;
    padding: 10px 40px 20px 40px;
    background-color: white;
    box-shadow: 0 4px 7px -5px rgb(165, 149, 149);
    transition: all 2s linear;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 10;
}

.playerMedia,
.heading,
.songInterface,
.listSong,
.songDetail {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.song {
    cursor: pointer;
}
.songInterface {
    margin-bottom: 10px;
}
.title {
   text-align: center; 
}
.title span {
    color: red;
    font-size: 0.8rem;  
}
.cd {
    height: 200px;
    width: 200px;
    margin-bottom: 45px;
}
.cd-img {
    height: 100%;
    width: 100%;
    margin: 20px 0px;
    border-radius: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s linear;
}
.progressParent {
    width: 350px;
    position: relative;
    height: 6px;
}
#progress {
    width: 100%;
    border-radius: 4px;
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    position: relative;
    z-index: 30;
}
#blur,
#progress,
#inputPseudo {
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    bottom: 0;
}
#inputPseudo {
    width: 100%;
    border-radius: 4px;
    background: #d3d3d3;
    z-index: 10;
}
#blur {
    z-index: 20;
    background-image: linear-gradient(to right, rgb(247, 102, 182), rgb(248, 2, 137));
}
  
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  
.control {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.loopBtn.active,
.randomBtn.active {
    color: rgb(224, 35, 107);
}
.playBtn i:last-child{
    display: none;
}
.playBtn.playing i:first-child{
    display: none;
}
.playBtn.playing i:last-child{
    display: block;
}
.playBtn {
    height: 50px;
    width: 50px;
    background-color: rgb(224, 35, 107);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 2px 3px rgb(253, 208, 225);
}
.playBtn i {
    color: white;
}

.listSong {
    margin-top: 420px;
}
.song {
    width: 480px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 7px -5px rgb(165, 149, 149);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.song.active {
    background-color: rgb(41, 142, 236);
    box-shadow: 0 4px 7px -5px rgb(253, 148, 192);
}
.song:active {
    opacity: 0.7;
}
.blurSong {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    z-index: 1;
}
.imgSong {
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}
.songDetail {
    align-items: flex-start;
    flex-basis: 70%;
}
.songExtends {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.songExtends i{
    font-size: 1.4rem;
    letter-spacing: 2px;  
}